
ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  li span {
    cursor: pointer;
    margin-right: 10px;
  }
  
  button {
    cursor: pointer;
    background-color: #007bff;
    color: #151364;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #00b345;
  }
  
  